* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(137, 207, 240);
  font-family: 'Barlow', sans-serif;
}

img,
svg,
span {
  display: block;
}

.wrapper {
  display: flex;
  gap: 10px;
  width: 540px;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  perspective: 1000px;
}

.memory-game {
  position: absolute;
  width: 580px;
  height: 380px;
  background: rgba(64, 3, 206, 0.1);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px;
}

.card {
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  /* background: rgb(255, 244, 79); */
  background: linear-gradient(90deg, rgba(255, 244, 79, 1) 35%, rgba(255, 165, 0, 1) 100%);
  cursor: pointer;
  position: relative;
  z-index: 10;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 0 2px 1px;
}

.card.flip {
  transform: rotateY(180deg);
}

.paw {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  fill: rgb(192, 64, 0);
  backface-visibility: hidden;
}

.front-face {
  width: 70px;
  height: 70px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.player-stats {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  bottom: 110%;
  left: 0;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 2px #000;
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
}

.player-stats::before,
.player-stats::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 20px;
  background-color: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 1px;
}

.player-stats::after {
  top: 100%;
  left: 80%;
  z-index: -1;
}

.player-stats::before {
  top: 100%;
  right: 80%;
  z-index: -1;
}

.moves {
  display: flex;
  gap: 10px;
  font-weight: 900;
}
.tries {
  color: #fff;
}
