* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(137, 207, 240);
  font-family: 'Barlow', sans-serif;
}

img,
svg,
span,
button {
  display: block;
}

.wrapper {
  display: flex;
  gap: 10px;
  width: 540px;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  perspective: 1000px;
}

.memory-game {
  position: absolute;
  width: 580px;
  height: 380px;
  background: rgba(64, 3, 206, 0.1);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 3px;
}

.card {
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  /* background: rgb(255, 244, 79); */
  background: linear-gradient(90deg, rgba(255, 244, 79, 1) 35%, rgba(255, 165, 0, 1) 100%);
  cursor: pointer;
  position: relative;
  z-index: 10;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 0 2px 1px;
}

.card.flip {
  transform: rotateY(180deg);
}

.paw {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  fill: rgb(192, 64, 0);
  transition: all 0.3s;
  backface-visibility: hidden;
}

.paw:hover {
  transform: scale(1.1);
}

.front-face {
  width: 70px;
  height: 70px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.player-stats {
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  bottom: 110%;
  left: 0;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 2px #000;
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
}

.player-stats::before,
.player-stats::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 20px;
  background-color: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 1px #000;
}

.player-stats::after {
  top: 100%;
  left: 80%;
  z-index: -1;
}

.player-stats::before {
  top: 100%;
  right: 80%;
  z-index: -1;
}

.moves {
  display: flex;
  gap: 10px;
  font-weight: 900;
}
.tries {
  color: #fff;
}

.reset {
  text-align: center;
  width: 100px;
  font-size: 24px;
  font-weight: 900;
  border: none;
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 1px #000;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  transition: font-size 0.5s;
}

.reset:hover {
  font-size: 20px;
}

.leader-board {
  position: absolute;
  font-size: 14px;
  top: -4%;
  left: 110%;
  width: 200px;
  height: 380px;
  background: rgba(64, 3, 206, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 3px;
}

.leader-board__title {
  position: absolute;
  left: 5%;
  bottom: 106%;
  font-size: 24px;
  padding: 2px 5px;
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
  background: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 2px #000;
  border-radius: 5px;
}

.leader-board__title::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 22px;
  background-color: rgba(64, 3, 206, 0.1);
  top: 102%;
  right: 42%;
  z-index: -1;
  box-shadow: 0 0 1px #000;
}

.order-list {
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
  left: 12%;
  top: 4%;
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
  font-weight: 900;
}

li::marker {
  color: #fff;
  font-size: 14px;
}

li {
  background: rgba(64, 3, 206, 0.1);
  border-radius: 5px;
  width: 170px;
  text-align: center;
  line-height: 25px;
}

.modal,
.modal-information {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modal__content {
  position: absolute;
  width: 500px;
  padding: 10px;
  text-align: center;
  font-size: 23px;
  height: 200px;
  border-radius: 10px;
  background: rgb(243, 235, 173);
  /* background: linear-gradient(190deg, rgba(243, 235, 173, 1) 35%, rgba(255, 255, 255, 1) 100%); */
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
  top: 50%;
  left: 50%;
  font-weight: 900;
  transform: translate(-50%, -90%);
  box-shadow: 0 0 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal__close,
.modal__close-information {
  font-size: 40px;
  position: absolute;
  right: 2%;
  top: -5%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 4;
}

.modal-sub-title {
  font-size: 28px;
  margin-top: 10px;
}

.modal__close:hover,
.modal__close-information:hover {
  transform: scale(1.2);
}

.modal__title {
  animation: infinityScale ease 2s infinite;
  z-index: -1;
}

.repeat-button {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100px;
  font-size: 24px;
  font-weight: 900;
  border: none;
  color: #ffd700;
  text-shadow: 1px 1px 1px #000;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  transition: font-size 0.5s;
}

.repeat-button:hover {
  font-size: 20px;
}

@keyframes infinityScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  background-color: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 1px #000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.github-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.rss-icon {
  width: 80px;
  display: block;
}

.footer__year {
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.github-icon:hover {
  fill: rgb(240, 248, 255);
}

.rss-icon:hover {
  filter: invert(100%) sepia(72%) saturate(1102%) hue-rotate(177deg) brightness(103%) contrast(101%);
}

.play-music,
.information-btn {
  position: absolute;
  right: 110%;
  height: 50px;
  width: 50px;
  background-color: rgba(64, 3, 206, 0.1);
  box-shadow: 0 0 2px #000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.play,
.pause,
.information {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 35px;
  height: 35px;
  fill: rgba(255, 244, 79, 1);
  animation-name: glow-yellow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes glow-yellow {
  0% {
    fill: rgba(255, 244, 79, 0.7);
  }
  100% {
    fill: rgba(255, 244, 79, 1);
  }
}

.information-btn {
  top: 20%;
}

.play-music:hover,
.information-btn:hover {
  transform: scale(1.2);
}
