/* Remove margin, padding and border */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Smooth scroll */

html {
  scroll-behavior: smooth;
}

/* Main container */
body {
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

ul {
  list-style: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.header-container {
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header__logo {
  padding: 25px 20px;
}

.header__navigation {
  margin-left: auto;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin-right: 30px;
}

.menu__link {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}

.language-item {
  margin-left: 9px;
  font-weight: 700;
}

.language-item__en {
  font-weight: 700;
  color: #bdae82;
}

/* end header block */

/* hero section */
.hero-container {
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -94px;
  background-repeat: no-repeat;
  padding-left: 80px;
  position: relative;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 60px;
  line-height: 120px;
}

.hero__text {
  padding-top: 160px;
  height: 330px;
  padding-bottom: 330px;
  padding-right: 880px;
  line-height: 40px;
  font-style: normal;
  font-weight: 400;
}

.button-hero {
  background: #bdae82;
  width: 220px;
  padding: 8px 72px;
  border-radius: 0px;
  margin-top: 25px;
  line-height: 40px;
  color: #000000;
  cursor: pointer;
  font-family: inherit;
}
/* end hero section */

/* setting title */

.title {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

.section-title {
  font-family: 'Merriweather', serif;
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}

.section-title::before,
.section-title::after {
  position: relative;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #bdae82;
  height: 2px;
  width: 100%;
}

.section-title::before {
  margin-left: -100%;
  left: -20px;
}

.section-title::after {
  margin-right: -100%;
  right: -20px;
}

/* end setting title */

/* Skills section */
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-item {
  width: 280px;
}

.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center top;
}

.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center top;
}

.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center top;
}

.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: center top;
}

.skill-title {
  font-size: 20px;
  padding-top: 100px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}

.skill-text {
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
}
/* End skills section */
