* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Baloo Bhaijaan 2', sans-serif;
  color: #fff;
  background: url('./assets/img/lemonade.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

span,
img {
  display: block;
}

ul {
  list-style: none;
}

.music-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.music-card {
  width: 320px;
  height: 420px;
  background: url('./assets/img/lemonade.png');
  background-position: -20px -50px;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  transform: translate(0, -50%);
  box-shadow: 0 0 15px 5px rgb(7, 5, 5);
  flex-direction: wrap;
}

.music-card__info {
  padding-top: 15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 130px;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  background: rgb(203, 203, 214);
  background: rgb(28, 28, 29);
  background: linear-gradient(90deg, rgba(28, 28, 29, 1) 0%, rgba(143, 135, 135, 1) 100%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  background: transparent;
  cursor: pointer;
  border: 0;
}

.img-button {
  filter: invert(100%) sepia(3%) saturate(3%) hue-rotate(237deg) brightness(104%) contrast(100%);
}

.play {
  width: 60px;
}

.backward,
.forward {
  margin-top: 10px;
  width: 40px;
}

.backward {
  transform: rotate(180deg);
}

.singer {
  margin-top: 5px;
  line-height: 25px;
  width: 160px;
  text-align: center;
}

.singer-name {
  font-size: 25px;
  color: #ffd700;
}

.switcher-buttons {
  vertical-align: middle;
}

.progress-container {
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 60%;
}

.progress {
  background-color: #ffd700;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.main-title {
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, rgb(201, 233, 23), rgb(248, 216, 33));
  text-shadow: rgba(248, 216, 33, 0.5) 0px 3px 3px;
}

.currentTime {
  width: 30px;
}

.footer {
  margin-top: 60px;
  padding: 10px;
  background-color: transparent;
  color: rgb(7, 5, 5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer__content-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.rschool-link {
  width: 60px;
  transition: 0.3s;
}

.footer__year {
  cursor: pointer;
  transition: 0.3s;
}

.footer__year:hover,
.rschool-link:hover,
.github-link:hover {
  filter: invert(72%) sepia(99%) saturate(892%) hue-rotate(360deg) brightness(105%) contrast(105%);
}

.github-link {
  width: 40px;
  transition: 0.3s;
}
